@import "../Shared/_mixins.scss";

.formContainerStacked {
    width: 100%;
    @include flex($justify:flex-start, $align:right, $direction:column, $wrap:wrap);
}

.formLabel {
    width: 100%;
    padding-bottom: 10px;
     @include font-props($fontSize:18px, $color:Black, $weight:400);
}

.formElement {
    padding-bottom: 20px;
}