@import "../Shared/_mixins.scss";

.caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
    clear: both;
}



.past-due-projects {
    background-color: #feddda;
    padding: 5px !important;
    clear: both;
}

.projects-by-date {
    clear: both;
    background-color: #d3ecfb;
    padding: 5px !important;
}
/* mouse over link */
.inspection-links {
    clear: both;
    color: blue;
}