.clear-input {
    background: none;
    border: 0 transparent none;
    display: flex;
    align-items: center;
    position: absolute;
    right: 12px;
    z-index: 2;
}

.search-field, .space-x-4 > :not([hidden]) ~ :not([hidden]).search-field {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.search-button {
    height: 38px;
}

.search-input {
    margin: 0 8px;
}

.search-input-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
}