.failedValidation {
    background-color: red !important;
    color: white !important;
    padding: 3px;
    }

    .fValidation {
        color: red !important;
    }

    .pValidation {
        color: black !important;
    }
