@import "../../Shared/_mixins.scss";

.vueLayoutContainer {
    width: 100%;
    @include flex($justify:flex-start, $align:right, $direction:row, $wrap:nowrap);
    background-color:red;
}

.vueComponentContainer {
    width: 70%;
    background-color: white;
    width: 100%;
}

.vueHeaderContainer {
    width: 100%;
    background-color: green;
    padding-left:5px;
    height:75px;
    @include font-props($fontSize: 44px, $color:pink, $weight:100);
}

.menuContainer {
    width: 50%;
    background-color: darkgray;
    @include font-props($fontSize: 14px, $color:white, $weight:600);
    padding-left:5px
}

.vsm_expanded .side-menu-search-input {
    max-width: 186px;
}

.vsm_collapsed .side-menu-search-input {
    max-width: 165px;
}

.side-menu-search-button {
    color: #fff;
    padding: 0 8px;
}

.side-menu-search-form {
    display: flex;
    padding: 8px 0 8px 10px;
}