@import "../../../Shared/_mixins.scss";

.pifDetailsContainer {
    width: 100%;
    padding-left: 10px;
    @include font-props($fontSize: 11px, $color:black, $weight:600);
}

.pifInsured {
    @include font-props($fontSize: 12px, $color:white, $weight:600);
}

.pifAddress {
     margin-top: -3px;
}

.noRecords {
    background-color: white;
    color:red;
    padding:3px;
    width:600px;
    border:1px solid black;
}


.pifClaimDetail {
    @include font-props($fontSize: 13px, $color:#133595, $weight:600);
}

.pifClaimAddress {
    @include font-props($fontSize: 13px, $color:#133595, $weight:600);
}

.pifDetailContainer {
    width:100%;
    padding-bottom:5px;
}

.instuctions {
    width: 50%;
    background-color: white;
    color: navy;
    padding: 5px;
}
