@import "../../../Shared/_mixins";

.ModalReportContainer {
    @include flex($justify: space-between, $align:flex-start, $direction:column, $wrap:nowrap);
    padding-bottom: 15px;
}


.NoAssetsContainer {
    @include flex($justify: center, $align:center, $direction:column, $wrap:nowrap);
    text-align: center;
    width: 100%;
    @include font-props($fontSize: 18px, $color:black, $weight:500);
}

.ModalReportContainer div:nth-child(1) {
    width: 100%;
    padding-left: 10px;
    @include font-props($fontSize: 18px, $color:Navy, $weight:500);
}

.ModalReportContainer div:first-child {
    width: 100%;
    text-align:center;  
}
.ModalReportContainer div:nth-child(3) {
    width: 100%;
    text-align: center;
    @include border(0px, 0px, 1px, 0px, black);
}
.ModalReportContainer div span:first-child {
    font-weight: 600;
}

.ModalReportContainer span:nth-child(3) {
    @include font-props($fontSize: 14px, $color:black, $weight:500);
}
.ModalReportContainer p:nth-child(1) {
    @include font-props($fontSize: 14px, $color:black, $weight:500);
}
.ModalReportButtonContainer {
    @include flex($justify: center, $align:center, $direction:row, $wrap:nowrap);
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;   
}