@import "../mixins";

.tb {
  @include font-props($fontSize:15px, $color:black, $weight:600);
}

.tbNum {
  width: 70px !important;
}

.tbAlpha {
  width: 220px !important;
}

.tbArea {
  width: 420px !important;
}
