@import "../../Shared/_mixins";
@import "../../_variables";

.container {
    width: 100%;
    background-color: white;
    @include flex($justify: flex-center, $align:flex-center, $direction:column, $wrap:nowrap);
    @include font-props($fontSize:18px, $color:Black, $weight:600);
    padding: 10px;
    @include border(1px, 1px, 3px, 1px, black);
    @include border-radius(6px, 6px, 6px, 6px);
}
.download-menu-content {
    display: none;
    min-width: 170px;
}

@media only screen and (min-width: 1024px) {
    .download-menu-content {
        display: flex;
    }
}

.download-menu-item {
    padding: 4px;

    &:hover {
        border-color: #c7cdd5;
        background-color: #ced3db;
        color: black;
        text-decoration: none;
    }

    &.disabled {
        cursor: default;
        opacity: 0.6;

        &:hover {
            border: 0 none transparent;
            background-color: #fff;
            color: inherit;
            text-decoration: none;
        }
    }
}

.scheduler {
    width: 100%;

    a {
        color: $color-primary-300;

        &:hover {
            text-decoration: underline;
        }
    }

    table {
        table-layout: fixed;
    }

    tbody {
        width: 100%;
    }

    td {
        height: 2rem;
        min-height: 2rem;
        max-height: 2rem;
        min-width: 12.5%;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: normal;
    }

    td.day {
        width: 100%;
    }

    td.week {
        width: 12.5%;
    }

    tr {
        min-height: 2rem;
        height: 2rem;
        max-height: 2rem;
        width: 100%;
    }

    .scheduler-header {
        border: 0 0 1px dotted $color-primary-100;
        background-color: #f3f3f4;
        padding: 16px 32px;
    }

    .slot {
        background-color: $color-primary-900;
        border: 2px solid white;
        color: white;
        padding: 0 8px;
    }

    .day-start {
        border-left: 1px dotted $color-primary-100;
    }

    .day-end {
        border-right: 1px dotted $color-primary-100;
    }

    .hour-start {
        border-top: 1px solid $color-primary-100;
    }

    .half-hour-start {
        border-top: 1px dotted $color-primary-100;
    }

    .time-display {
        border: 1px solid $color-primary-100;
        width: 7rem;
        padding: 0 20px;
        white-space: nowrap;
        text-align: right;
        font-variant-numeric: tabular-nums;
    }
}
