@import "../../../shared/mixins";

.pifFormIconsActive {
  @include font-props($fontSize: 14px, $color:navy, $weight:600);
}

.pifFormIconsDisabled {
  @include font-props($fontSize: 14px, $color:#8590AA, $weight:600);
}

.pifIconMenu {
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-row-gap: 0px;
  justify-items: center;
  margin: 10px;
}

.pifFormHeaderContainer {
  @include border-radius(8px, 8px, 0px, 0px);
  width: 100%;
  background-color: white;
  @include flex($justify: space-between, $align:center, $direction:row, $wrap:wrap);
}

.pifFormStatusContainer {
  width: 100%;
  background-color: white;
  padding-left: 10px;
  @include flex($justify: space-between, $align:center, $direction:row, $wrap:wrap);
  @include font-props($fontSize: 11px, $color:black, $weight:600);
}

.cursor {
  cursor: pointer;
}

.pifFormName {
  font-size: large;
  font-weight: 700;
  color: black;
  padding: 5px;
}

.noForms {
  background-color: white;
  width: 50%;
  padding: 10px;
  @include border-radius(8px, 8px, 8px, 0px);
  @include border(2px, 2px, 2px, 2px, gray);
  @include flex($justify: space-between, $align:center, $direction:column, $wrap:wrap);
}
