// @use 'base';
// @use 'utilities';
// @use 'components';
// @use 'layout';
// @use 'pages';
// @use 'theme';
// @use 'vendors';

// /// ## Colors
// $colors: (
//   'brand': rgb(13, 127, 165),
//   'accent': '#brand',
//   'action': teal,
// );

// :root {
//   @each $name, $value in $colors {
//     #{tools.ident($name, 'colors-')}: #{$value};
//   }
// }

// html {
//   color: tokens.get($colors, 'brand');
// }

// $gray: #fafafa;
// Colors

$white: #ffffff;
$black: #000000;
$grey: #7a7a7a;
$grey-light: #b5b5b5;
$grey-lighter: #dbdbdb;
$grey-dark: #4a4a4a;

$primary: #445e00;
$primary-invert: $white;

$danger: #b60000;
$danger-invert: $white;
$warning: #f4c300;
$warning-invert: $black;
$success: #006724;
$success-invert: $white;
$info: #005c98;
$info-invert: $white;

$colors: (
    "primary": ($primary, $primary-invert),
    "danger" : ($danger, $danger-invert),
    "warning" : ($warning, $warning-invert),
    "success" : ($success, $success-invert),
    "info" : ($info, $info-invert)
);
