@import "../../../Shared/_mixins";

#AsReportContainer {
     font-family: 'Times New Roman', 'Times, serif';
    @include font-props($fontSize: 12px, $color:black, $weight:400);
    padding:10px;
}

#AsLaHeader, #AsLaMain, #AsLAOutside, #AsLAMaterial, #AsLABrittleness, #AsLaComps, #AsLaDamagesA, #AsLaDamagesB {
    width: 100%;
}

#AsLaCompA, #AsLaCompB, #AsLaCDamagesA, #AsLaCDamagesA {
     width: 100%;
}
#AsLaHail, #AsLaWind {
    width: 60%;
}

table#AsLaHeader tr:first-child td:nth-child(2) {
    text-align: center;
    @include font-props($fontSize: 18px, $color:black, $weight:600);
}

table#AsLaHeader tr:nth-child(2) td:nth-child(2) {
    text-align: center;
    @include font-props($fontSize: 14px, $color:red, $weight:600);
}

table#AsLaMain tr td {
    padding: 6px;
}

table#AsLaMain tr td,
table#AsLaMain tr:first-child td,
table#AsRoofDetails tr:nth-child(n+19):nth-child(-n+20) td {
    font-weight: 600;
}

table#AsLaMain tr:first-child th {
    width: 16.6%;
}


table#AsLAOutside tr td:nth-child(2),
table#AsLAMaterial tr td,
table#AsLaMain span,
table#AsRoofDetails span {
    font-weight: 400;
}
table#AsLAOutside tr td,
table#AsLAMaterial tr td,
table#AsLABrittleness tr td,
table#AsLaHail tr td,
table#AsLaWind tr td,
table#AsLaCompA tr td,
table#AsLaCompB tr td,
table#AsLaCDamagesA tr td,
table#AsLaCDamagesB tr td {
    padding: 2px;
}

table#AsLABrittleness tr:nth-child(2) td,
table#AsLaHail tr:nth-child(2) td,
table#AsLaWind tr:nth-child(2) td {
    width: 33.3%;
    text-decoration: underline;
}
table#AsLABrittleness tr:nth-child(n+3):nth-child(-n+6) td,
table#AsLaHail tr:nth-child(n+3):nth-child(-n+6) td,
table#AsLaWind tr:nth-child(n+3):nth-child(-n+6) td {
    font-weight: 400;
}
table#AsLABrittleness tr:nth-child(n+2):nth-child(-n+6) td,
table#AsLaHail tr:nth-child(n+2):nth-child(-n+6) td,
table#AsLaWind tr:nth-child(n+2):nth-child(-n+6) td,
table#AsLaCompA tr:nth-child(n+1):nth-child(-n+10) td,
table#AsLaCompB tr:nth-child(n+1):nth-child(-n+9) td,
table#AsRoofDetails tr:nth-child(n+2):nth-child(-n+18) td:nth-child(n+2):nth-child(-n+4),
table#AsRoofDetails tr:nth-child(n+2):nth-child(-n+18) td:nth-child(n+6):nth-child(-n+11) {
    text-align: center;
}

table#AsLaCompA tr:nth-child(n+1):nth-child(-n+10) td:first-child,
table#AsLaCompB tr:nth-child(n+1):nth-child(-n+9) td:first-child {
    text-align: left;
}

table#AsLaCompA tr:nth-child(n+2):nth-child(-n+10) td,
table#AsLaCompB tr:nth-child(n+2):nth-child(-n+9) td,
table#AsLaDamagesA tr td,
table#AsLaDamagesB tr td {
    font-weight: 400 !important;
}

#AsLaCompA {
    @include border(0px, 1px, 0px, 0px, black);
}
#AsLaCDamagesA {
    @include border(0px, 1px, 0px, 0px, black);
}
