@import "../../../Shared/_mixins";

#AsClaimInfo, #AsRoofAge, #AsBrittleness, #AsClaimInfo, #AsBrittlenessTwo, #AsHail, #AsHailTwo, #AsRoofDetails, #AsRoofDetailsTwo, #AiNonWind, #AiNonWindTwo, #AsInstallErrors, #AsInstallErrorsTwo, #AsRoomDamage, #AsStormRelated, #AsOutBuilding, #AsOverflow {
    width: 100%;
}


table#AsBrittleness tr td,
table#AsBrittlenessTwo tr td,
table#AsRoofAge tr td,
table#AsHail tr td,
table#AsHailTwo tr td,
table#AiNonWind tr td,
table#AiNonWindTwo tr td,
table#AsRoofDetails tr td,
table#AsRoofDetailsTwo tr td,
table#AsInstallErrors tr td,
table#AsInstallErrorsTwo tr td,
table#AsRoomDamage tr td,
table#AsStormRelated tr td,
table#AsOverflow tr td,
table#AsOutBuilding tr td {
    text-align: left;
    padding-left: 5px;
}

table#AsClaimInfo tr:nth-child(n+3):nth-child(-n+8) td:first-child,
table#AsRoofAge tr:nth-child(n+1):nth-child(-n+2) td,
table#AsRoofAge tr:nth-child(9) td,
table#AsBrittleness tr:first-child td,
table#AsBrittlenessTwo tr:first-child td,
table#AsHail tr:first-child td,
table#AsHail tr:nth-child(2) td,
table#AsHailTwo tr:first-child td,
table#AsHailTwo tr:nth-child(2) td,
table#AiNonWind tr:nth-child(n+1):nth-child(-n+3) td,
table#AiNonWindTwo tr:nth-child(n+1):nth-child(-n+2) td,
table#AsInstallErrors tr:first-child td:first-child,
table#AsInstallErrors tr:nth-child(n+5):nth-child(-n+6) td:first-child,
table#AsInstallErrorsTwo tr:first-child td:first-child,
table#AsInstallErrorsTwo tr:nth-child(n+5):nth-child(-n+6) td:first-child,
table#AsOutBuilding tr:first-child td:first-child,
table#AsStormRelated tr:nth-child(n+1):nth-child(-n+2),
table#AsRoofDetails tr:nth-child(n+1):nth-child(-n+2),
table#AsRoofDetailsTwo tr:nth-child(n+1):nth-child(-n+2),
table#AsClaimInfo tr:nth-child(n+3):nth-child(-n+9) td:nth-child(2),
table#AsOutBuilding tr:nth-child(n+1):nth-child(-n+3) td,
table#AsOutBuilding tr:nth-child(10) td,
table#AsOverflow tr td,
table#AsClaimInfo tr td
{
    font-weight: 600;
}

.Slopes td:nth-child(2), .Slopes td:nth-child(4) {
    font-weight: 400;
    width:25%;
}

table#AsClaimInfo span {
    font-weight: 400;
}


table#AsHail tr:nth-child(n+4):nth-child(n-7) td:nth-child(n+2):nth-child(n-5),
table#AiNonWind tr:nth-child(n+3):nth-child(n-17) td:nth-child(n+2):nth-child(n-4),
table#AsRoofDetails tr:nth-child(2) td,
table#AsRoofDetails tr:nth-child(n+3):nth-child(-n+13) td:nth-child(n+2):nth-child(-n+4),
table#AsRoofDetails tr:nth-child(n+3):nth-child(-n+13) td:nth-child(n+6):nth-child(-n+9),
table#AsRoofDetailsTwo tr:nth-child(n+3):nth-child(-n+13) td:nth-child(n+2):nth-child(-n+4),
table#AsRoofDetailsTwo tr:nth-child(n+3):nth-child(-n+13) td:nth-child(n+6):nth-child(-n+9),
table#AsInstallErrors tr:nth-child(n+2):nth-child(-n+4) td:first-child,
table#AsInstallErrors tr:nth-child(n+2) td:nth-child(3),
table#AsInstallErrorsTwo tr:nth-child(n+2):nth-child(-n+4) td:first-child,
table#AsInstallErrorsTwo tr:nth-child(n+2) td:nth-child(3),
table#AsStormRelated tr:nth-child(2) td:nth-child(n+2):nth-child(-n+5),
table#AsStormRelated tr:nth-child(n+3):nth-child(-n+16) td:nth-child(n+2):nth-child(-n+5),
table#AsRoomDamage tr:nth-child(2) td:nth-child(n+2):nth-child(-n+5),
table#AiNonWindTwo tr:nth-child(n+2):nth-child(n-3) td:nth-child(n+2):nth-child(-n+7) {
    text-align: center;
}

table#AiNonWind tr:first-child td:first-child,
table#AsInstallErrors tr:nth-child(6) td:first-child {
    color: red;
}

table#AsRoofDetails tr:nth-child(2) td:first-child,
table#AsRoofDetails tr:nth-child(2) td:nth-child(5) {
    width: 15%;
}

table#AsRoofDetails tr:nth-child(2) td:nth-child(n+2):nth-child(-n+4),
table#AsRoofDetails tr:nth-child(2) td:nth-child(n+6):nth-child(-n+9) {
    width: 6%;
}

table#AsStormRelated tr:nth-child(2) td:first-child {
    text-align: right;
}

.AsDivider {
    background-color: darkseagreen;
    width: 100%;
    height: 3px
}

table#AsClaimInfo tr:first-child {
    background-color: darkseagreen;
    text-align: center;
}