@import '../variables';

// Sidebar Menu
$base-bg : $color-primary-700;
$primary-color : $color-primary;
$dropdown-bg : lighten($base-bg, 5%);
$dropdown-color : null;

$item-active-bg : null;
$item-active-color : null;
$item-color : #fff;
$item-font-size : 16px;
$item-hover-bg : rgba(darken($base-bg, 5%), 0.5);
$item-hover-color : null;
$item-line-height : 30px;
$item-open-bg : $primary-color;
$item-open-color : #fff;
$item-padding : 10px 15px;

$icon-active-bg : null;
$icon-active-color : null;
$icon-bg : darken($base-bg, 5%);
$icon-color : null;
$icon-height : 35px;
$icon-open-bg : $item-open-bg;
$icon-open-color : null;
$icon-width : 35px;

$mobile-item-bg : $primary-color;
$mobile-item-color : #fff;
$mobile-icon-bg : $mobile-item-bg;
$mobile-icon-color : $mobile-item-color;

// @import "vue-sidebar-menu/src/scss/vue-sidebar-menu.scss";
// base styles
@import "vue-sidebar-menu/src/scss/variables";
@import "vue-sidebar-menu/src/scss/base";

// themes
@import "vue-sidebar-menu/src/scss/themes/default-theme";
@import "vue-sidebar-menu/src/scss/themes/white-theme";

.v-sidebar-menu {
    // font-family: 'Operator mono', 'Space mono', monospace;
    // font-size: 14px;

  .vsm--title {
    line-height: 1.5
  }

  .vsm--link {
    font-size: inherit;
  }

   .vsm--icon {
    margin-right: 1rem;
   }

  .vsm--link_level-2 {
    padding-left: 3rem;
    border-radius: 0.5rem;
  }

  .vsm--link_level-3 {
    padding-left: 3.5rem;
    border-radius: 0.5rem;
  }

  .vsm--toggle-btn {
    height: 4rem
  }

  .vsm--link_level-1 {
    .vsm--icon {
      height: 2rem;
      line-height: 1.5;
      width: 2rem;
      flex-shrink: 0;
      text-align: center;
      background-color: transparent;
      // border-radius: 999999px;
    }
  }
}

.v-sidebar-menu.vsm_white-theme {
  .vsm--link_level-1 {
    .vsm--icon {
      background-color: transparent;
    }
  }
}
