@import "../../Shared/_mixins";

.app-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: $app-sidebar-width;

    .app-header-menu {
        padding-right: $app-sidebar-width + 2rem;
    }

    .app-main {
        margin-top: 5rem; // if fixed header
    }

    .page-header {
        position: fixed;
        top: 4rem;
        width: 100%;
        z-index: 2;
        padding-right: $app-sidebar-width + 2rem;
        background-color: $color-white;
    }
}

.app-layout.collapsed {
    padding-left: $app-sidebar-width-collapsed;

    .app-header-menu {
        padding-right: $app-sidebar-width-collapsed + 2rem;
    }

    .page-header {
        padding-right: $app-sidebar-width-collapsed + 2rem;
    }
}


.app-header {
    height: $app-header-height;
    border-bottom: 1px solid $color-gray-50;
    width: 100%;
    display: flex;
    align-items: center;

    & .title {
        font-size: $font-size-lg;
        margin-bottom: 0;
        line-height: 1;
    }
}

.app-header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.app-sidebar-header {
    height: $app-header-height;
    background-color: $color-white;
    display: flex;
    color: $color-primary;
    align-items: center;
    font-weight: $font-bold;
}


.app-sidebar-profile-container {
    margin-top: 0.75rem;
    padding: 0.5rem 0;
    font-size: $font-size-xs;
}

.app-sidebar-profile-button {
    display: flex;
    align-items: center;
    color: $color-white;
    margin: 0;
    font-family: inherit;
    font-weight: inherit;
    font-size: 100%;
    text-align: left;
    width: 100%;
    text-transform: none;
    cursor: pointer;
    line-height: inherit;
    border-width: 1px;
    border-color: transparent;
    background-color: transparent;

    &:hover {
        color: $color-white
    }

    > div {
        margin-left: 0.5rem;
    }
}

.app-sidebar-profile-name {
    font-weight: $font-bold;
    text-transform: uppercase;
}


.app-sidebar-toggle-icon {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    white-space: nowrap;

    svg {
        height: 1.25rem;
        width: 1.25rem;
        color: $color-gray-300;
    }

    span {
        margin-left: 0.5rem;
    }
}


.app-main {
    flex: 1 1 0%;
}

.app-footer {
    padding-left: 1rem;
    padding-right: 1rem;
}



.page-header {
    font-size: large;
    padding-right: 25px;
}


.flexRowStartWrap {
    @include flex($justify: flex-start, $align:flex-start, $direction:row, $wrap:wrap);
}

.flexRowStartNoWrap {
    @include flex($justify: flex-start, $align:flex-start, $direction:row, $wrap:nowrap);
}

.flexRowEndNoWrap {
    @include flex($justify: flex-end, $align:flex-start, $direction:row, $wrap:nowrap);
}

.flexRowSpaceBetweenWrap {
    @include flex($justify: space-between, $align:flex-start, $direction:row, $wrap:wrap);
}

.flexRowSpaceBetweenNoWrap {
    @include flex($justify: space-between, $align:flex-start, $direction:row, $wrap:nowrap);
}

.flexRowSpaceAroundWrap {
    @include flex($justify: space-around, $align:flex-start, $direction:row, $wrap:wrap);
}

.flexColumnStartNoWrap {
    @include flex($justify: flex-start, $align:flex-start, $direction:column, $wrap:nowrap);
}

.flexColumnStartWrap {
    @include flex($justify: flex-start, $align:flex-start, $direction:column, $wrap:wrap);
}


.flexColumnCenter {
    @include flex($justify: center, $align:center, $direction:column, $wrap:wrap);
}
