.clear-input {
  background: none;
  border: 0 transparent none;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.k-widget.k-grid {
  font-size: $font-size-xs;

  .link-primary {
    color: $color-primary;
  }

  .k-widget.k-dropdown {
    min-width: 4rem;
  }

  .k-dropdown-wrap,
  .k-animation-container {
    font-size: $font-size-xs;
  }
}

.search-button {
  height: 38px;
}

.search-input-container {
  display: flex;
  align-items: center;
  position: relative;
}
