.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-primary-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(49, 75, 111, var(--tw-ring-opacity));
}

.focus\:ring-offset-2:focus {
  --tw-ring-offset-width: 2px;
}

.hover\:bg-primary-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(204, 210, 219, var(--tw-bg-opacity));
}
