@import "../mixins";

.pifIconContainer {
    @include flex($justify: flex-start, $align:center, $direction:row, $wrap:wrap);
    padding: 0px 0px 5px 10px;
}

/*.pifIcon {
    @include flex($justify: flex-start, $align:center, $direction:row, $wrap:wrap);
    margin-left: 10px;
    padding: 1px;
    background-color: red;
    height:75px;
}*/

.fieldIcon {
    @include flex($justify: flex-start, $align:center, $direction:row, $wrap:wrap);
    @include font-props($fontSize: 18px, $color:black, $weight:600);
    margin: 8px;
    width: 98%;
    padding-left: 12px;
}

.assetCount {
    @include font-props($fontSize: 19px, $color:blue, $weight:600);
    cursor: pointer;
    padding-top: 15px;
    padding-right: 3px;
}

.iconBorder {
    @include border(1px,1px,1px,1px,black);
}

