@import "../variables";
@import '../utilities/mixins.scss';

.pageHeader {
  font-size: large;
  padding-right: 25px;
}

.sticky {
  position: fixed;
  top: 0px;
  z-index: 1;
}

.bt-col-3 {
  grid-column: 3;
  text-align: center;
}

.modal-open {
  padding-right: 0 !important;
}


.dropdown-toggle::after {
  display: none;
}

.modal-backdrop {
  background-color: dimgray !important;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
}

.modal {
  overflow: hidden;
}

.modal-body {
  overflow: auto;
}

.modalMessage {
  @include border(1px, 1px, 1px, 1px, black);
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 4px;
  height: 35px;
}

.cursor {
  cursor: pointer;
}

.centerText {
  text-align: center
}

.validation {
  background-color: red;
  color: white;
}

.btn-secondary:hover {
  color: yellow;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}




/*.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .8;
    border-radius: .2rem;
}*/

.createAsset>button {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.k-dropdown .k-dropdown-wrap,
.k-dropdowntree .k-dropdown-wrap {
  background-color: white !important;
}
