@import "../../shared/mixins";

.brittleTestGrid {
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 900px;
  background-color: white;
  justify-items: start;
  align-items: center;
  margin-left: -3px;
}

.rowGrid {
  display: inline-grid;
  grid-template-rows: auto;
  justify-items: start;
  align-items: center;
  padding-left: 10px;
  grid-column-gap: 5px;
  background-color: white;
  margin: 10px;
}

/*Question label Row*/
.rowGrid>span:nth-child(1) {
  grid-column-start: 1;
}

/*Question label Row*/
.rowGrid>div {
  grid-area: 1/2;
  @include flex($justify:flex-start, $align:top, $direction:row, $wrap:wrap);
}

.detailsGrid {
  display: inline-grid;
  grid-template-columns: 200px auto;
  grid-row-gap: 25px;
  grid-template-rows: auto;
  justify-items: start;
  align-items: center;
  padding-left: 10px;
  grid-column-gap: 15px;
}

.twoColumn {
  grid-template-columns: 230px auto;
}

.twoColumnMedium {
  grid-template-columns: 250px auto;
}

.twoColumnLong {
  grid-template-columns: 330px auto;
}

.twoColumnXlong {
  grid-template-columns: 370px auto;
}

.threeColumn {
  grid-template-columns: 230px auto auto;
}

.threeColumnMedium {
  grid-template-columns: 250px auto auto;
}

.threeColumnLong {
  grid-template-columns: 330px auto auto;
}

.threeColumnXlong {
  grid-template-columns: 370px auto auto;
}
