@tailwind base;
@tailwind components;
@tailwind utilities;

.debug-baseline {
  /* // Demonstrate the vertical rhythm at 12px */
  background-image: linear-gradient(#eef 1px, transparent 1px);
  background-size: 100% 12px;
  background-repeat: repeat-y;
}
