@import '../variables';
@import "vue-sidebar-menu/src/scss/vue-sidebar-menu.scss";

.app-header {
  height: $app-header-height;
  border-bottom: 1px solid $color-primary-50;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;

  & .title {
    margin-bottom: 0;
    line-height: 1;
  }
}

.app-header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
