@use '../../node_modules/accoutrement/sass/tokens';
@use '../../node_modules/accoutrement/sass/tools';

// Set the a path to your fonts directory
tools.$font-path: '../fonts/';
$src: tools.font-url('sans/my-sans-font.woff2');

$font-path: '../fonts/';

$fonts: (
  // describe locally-hosted font files for import and access
  'heading': (
    'name': 'maven',
    'stack': ('helvetica', 'arial', sans-serif),
    'formats': 'woff''ttf',
    'normal': 'maven/maven_pro_regular-webfont',
    'bold': 'maven/maven_pro_bold-webfont',
  ),

  // describe CDN fonts for access
  'body': (
    'name': 'Source Sans Pro',
    'stack': ('Helvetica Neue', 'Helvetica', 'Arial', sans-serif),
  ),

  // provide aliases when useful
  'alias': '#body',
);

/// Font Face


// Thin (100)
@font-face {
  font-weight: 100;
  font-family: 'Input Mono';
  font-style: normal;
  src: url('/assets/font/InputMono-Thin.ttf') format('truetype');
}

@font-face {
  font-weight: 100;
  font-family: 'Input Mono';
  font-style: italic;
  src: url('/assets/font/InputMono-ThinItalic.ttf') format('truetype');
}

// ExtraLight (200)
@font-face {
  font-weight: 200;
  font-family: 'Input Mono';
  font-style: normal;
  src: url('/assets/font/InputMono-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-weight: 200;
  font-family: 'Input Mono';
  font-style: italic;
  src: url('/assets/font/InputMono-ExtraLightItalic.ttf') format('truetype');
}

// Light (300)
@font-face {
  font-weight: 300;
  font-family: 'Input Mono';
  font-style: normal;
  src: url('/assets/font/InputMono-Light.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: 'Input Mono';
  font-style: italic;
  src: url('/assets/font/InputMono-LightItalic.ttf') format('truetype');
}

// Regular (400) - Default / Normal
@font-face {
  font-weight: 400;
  font-family: 'Input Mono';
  font-style: normal;
  src: url('/assets/font/InputMono-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: 'Input Mono';
  font-style: italic;
  src: url('/assets/font/InputMono-RegularItalic.ttf') format('truetype');
}

// Medium (500)
@font-face {
  font-weight: 500;
  font-family: 'Input Mono';
  font-style: normal;
  src: url('/assets/font/InputMono-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: 'Input Mono';
  font-style: italic;
  src: url('/assets/font/InputMono-MediumItalic.ttf') format('truetype');
}

// Bold (700)
@font-face {
  font-weight: 700;
  font-family: 'Input Mono';
  font-style: normal;
  src: url('/assets/font/InputMono-Bold.ttf') format('truetype');
}

@font-face {
  font-weight: 700;
  font-family: 'Input Mono';
  font-style: italic;
  src: url('/assets/font/InputMono-BoldItalic.ttf') format('truetype');
}

// Black (900)
@font-face {
  font-weight: 900;
  font-family: 'Input Mono';
  font-style: normal;
  src: url('/assets/font/InputMono-Black.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: 'Input Mono';
  font-style: italic;
  src: url('/assets/font/InputMono-BlackItalic.ttf') format('truetype');
}
